* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


body {
    background: url("https://picsum.photos/seed/picsum/1044/400?random=1");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.h1-header{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.main-window {
    border-radius: 0px 100px 0px 100px;
    border: 1px solid #000000;
    box-shadow: 10px 6px 56px 29px rgba(0, 0, 0, 0.4);
    background: rgba(98, 211, 219, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 40px;
    margin: 3% auto;
}

label {
    max-width: 150px;
    width: 100%;
    margin: 3px 0px 3px;
}

input,
.classroom-select,
.classroom-select {
    float: right;
    max-width: 200px;
    width: 100%;
    border-radius: 0px 5px 0px 5px;
    border: 1px solid #000000;
}

input[type=text]:focus, input[type=number]:focus  {
    background-color: lightblue;
}

input[type=passsword]:focus {
    background-color: lightcoral;
  }

div {
    display: flex;
    margin: 3px 0px 3px;
}

.male-radio-text,
.female-radio-text {
    margin: 0px 3px;
}

.licence-comfirmation {
    max-height: 15px;
    max-width: 400px;
    width: 20px;
}

.licence-comfirmation-box {
    display: inline;
}

.clear-form,
.registration {
    max-width: 200px;
    width: 100px;
    align-items: center;
    margin: 5px auto;
    border-radius: 0px 10px 0px 10px;
    height: 30px;
    border: 1px solid #000000;
}